<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="onClose()">&times;</span>
      <h2>{{ headerText }}</h2>
    </div>
    <div class="modal-body" (wheel)="onMouseenter($event)">
      <div class="rows-holder">
        <div class="item-row" *ngFor="let data of dataToDisplay">
          <span>{{ data.key }}:</span>
          <span>{{ data.value }}</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="onClose()">Close</button>
    </div>
  </div>
</div>
